/* Responsivos */
@media (max-width: 768px) {


    .conteudo {
        flex-direction: column;
        font-size: 20px;
    }
    .imgpost {
        height: 25vh;
        width: 35vh;
    }
    .conteudo-menu {
        font-size: 20px;
    }
    .rodape {
        font-size: 15px;
    }
    .titulo {
        font-size: 30px;
        text-align: center;
    }
    .subtitulo{
        font-size: 25px;
        font-style: italic;
        text-align: center;
    }
    #logo{
        height: 15vh;
      }
    .btns button {
        width: 150px;
        height: 80px;
    }
    .btns button:before {
        height: 80px;
    }
    
    .form{
        margin: 0;
    }
    form {
        max-width: 300px;
    }
    input, textarea {
        width: 250px;
    }
    textarea {
        width: 250px;
        height: 250px;
        line-height: 20px;
        max-width: 250px;
    }
    form label {
        margin-left: 20px;
        color: black;
        font-weight: bold;
    }
}
