/* Responsiveness */
@media (min-width: 1024px) {
    
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color:
    }

    .hamb{
        display: none;
    }
    .titulo_desktop {
        display: block;
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}