@import url(reset.css);
@import url(menu.css);
:root{
    --fundo-escuro: rgba(255, 123, 0, 0.979);
    --fundo-claro: #fffb00;
    --fonte-clara: rgb(255, 255, 255);
    --fonte-escura: rgb(255, 255, 255);
    --hover-claro: rgba(26, 54, 214, 0.840);
    --hover-claro: rgba(26, 54, 214, 0.840);
}

a {
  text-decoration: none;
}
ul{
  list-style-type: none;
}
.header{
  background-image: linear-gradient( to top, #008990, #179ca2, #2eaeb5, #179ca2, #008990 );
  width: 100%;
  position: sticky;
  top: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
  border-radius: 20px;
}




.header .menu {
  list-style: none;
  gap: 15px;

}

.header .menu a {
  text-decoration: none;
  color: white;
  padding: 1.5rem;
  transform: 2ms ease-in;
  position: relative;
  padding-bottom: 5px;
}


.header .menu a:before {
  content: ' ';
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0px;
  height: 1px;
  background-color: rgb(251, 255, 0);
  transition: all 1.5s ease; 
}

.header .menu a:hover:before {
  width: 100%;
}






.logo{
 display: inline-block;
 color: var(--fundo-escuro);
 font-size: 32px;
 position: relative;
 left: 12%;
 border-radius: 15px;
}
#logo{
height: 20vh;
padding: 5px 5px;
border:8px inset var(--fundo-claro);
padding:0px;
border-radius: 15px;
}
.nav{
  width: 100%;
  height: 100%;
  position: fixed;
  background: var(--fundo-escuro);
  overflow: hidden;
}
.menu a{
  display: block;
  padding: 40px;
  color: var(--fonte-clara);
  font-size: 22px;
}
.menu a:hover{
  background-color: var(--hover-claro);
}


#home {
  margin-right: 45vh;
}


.nav{
  max-height: 0;
  transition: max-height .1s ease-out;
}
.hamb{
  cursor: pointer;
  float: right;
  padding: 35px 20px;
  
}
.hamb-line{
  background: var(--fonte-clara);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
  

}
.hamb-line::before,
.hamb-line::after{
  background: var(--fonte-clara);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.hamb-line::before{
  top: 5px;
}
.hamb-line::after{
  top: -5px;
}
.side-menu{
  display: none;
}
.side-menu:checked ~ nav{
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line{
  background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before{
  transform: rotate(-45deg);
  top: 0;
}
.side-menu:checked ~ .hamb .hamb-line::after{
  transform: rotate(+45deg);
  top: 0;
  
}


.conteudo-menu {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}




.btns {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.btns button {
  width: 310px;
  height: 100px;
  cursor: pointer;
  border: 1px solid var(--fundo-escuro);
  color: var(--fundo-escuro);
  text-transform: uppercase;
  background-color: transparent;
  font-weight: bold;
  letter-spacing: 0.2rem;
  border-radius: 20px;
  position: relative;
  transition: 1.5s;
}

.btns button:hover {
  color: rgb(251, 255, 0);
  border: none;
}

.btns button:before {
  content: ' ';
  border-radius: 20px;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 0;
  height: 100px;
  background-color: var(--fundo-claro);;
  z-index: -1;
  transition: 1s;
}

.btns button:hover:before {
  width: 100%;
}

.rodape {
  position: absolute;
  bottom: auto;
  background-color: var(--fundo-escuro);
  color: var(--fonte-clara);
  width: 100%;
  height: 50px;    
  text-align: center;
  line-height: 50px;
  margin-top: 50px;
}